<a href="https://colab.research.google.com/github/SKSThakur/MetaLearning/blob/main/MetaLearningPreCourseAssn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
    
df = pd.read_csv("physionet_A_N.csv") 
   
df.head()

,TS_0,TS_1,TS_2,TS_3,TS_4,TS_5,TS_6,TS_7,TS_8,TS_9,...,TS_261,TS_262,TS_263,TS_264,TS_265,TS_266,TS_267,TS_268,TS_269,CLASS
0,-127.0,-267.0,-241.0,-229.0,-215.0,-201.0,-253.0,-273.0,-226.0,-172.0,...,-29.0,-22.0,-19.0,-22.0,-43.0,-53.0,-23.0,22.0,-31.0,N
1,-41.0,663.0,-39.0,-113.0,-81.0,-67.0,-45.0,34.0,82.0,62.0,...,-22.0,42.0,104.0,32.0,2.0,2.0,-13.0,-16.0,6.0,N
2,7.0,7.0,12.0,18.0,36.0,80.0,0.0,-19.0,418.0,248.0,...,-22.0,-33.0,-31.0,-34.0,-11.0,1.0,-8.0,12.0,62.0,N
3,128.0,268.0,244.0,209.0,194.0,234.0,203.0,188.0,211.0,228.0,...,-70.0,-62.0,-44.0,393.0,-74.0,-84.0,-65.0,-30.0,-6.0,N
4,13.0,54.0,80.0,56.0,-36.0,1469.0,-199.0,-180.0,-177.0,-126.0,...,-15.0,-37.0,-50.0,-21.0,30.0,17.0,1571.0,-165.0,-201.0,N

In [ ]:
df

,TS_0,TS_1,TS_2,TS_3,TS_4,TS_5,TS_6,TS_7,TS_8,TS_9,...,TS_261,TS_262,TS_263,TS_264,TS_265,TS_266,TS_267,TS_268,TS_269,CLASS
0,-127.0,-267.0,-241.0,-229.0,-215.0,-201.0,-253.0,-273.0,-226.0,-172.0,...,-29.0,-22.0,-19.0,-22.0,-43.0,-53.0,-23.0,22.0,-31.0,N
1,-41.0,663.0,-39.0,-113.0,-81.0,-67.0,-45.0,34.0,82.0,62.0,...,-22.0,42.0,104.0,32.0,2.0,2.0,-13.0,-16.0,6.0,N
2,7.0,7.0,12.0,18.0,36.0,80.0,0.0,-19.0,418.0,248.0,...,-22.0,-33.0,-31.0,-34.0,-11.0,1.0,-8.0,12.0,62.0,N
3,128.0,268.0,244.0,209.0,194.0,234.0,203.0,188.0,211.0,228.0,...,-70.0,-62.0,-44.0,393.0,-74.0,-84.0,-65.0,-30.0,-6.0,N
4,13.0,54.0,80.0,56.0,-36.0,1469.0,-199.0,-180.0,-177.0,-126.0,...,-15.0,-37.0,-50.0,-21.0,30.0,17.0,1571.0,-165.0,-201.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18365,535.0,-186.0,-56.0,-37.0,51.0,156.0,188.0,-46.0,-108.0,-119.0,...,-44.0,5.0,1.0,78.0,137.0,46.0,-45.0,-29.0,-33.0,A
18366,-278.0,-456.0,-410.0,-372.0,-295.0,-169.0,-117.0,-103.0,-187.0,-159.0,...,7.0,-53.0,-72.0,-53.0,-13.0,358.0,-272.0,-15.0,21.0,A
18367,-45.0,-56.0,-69.0,-62.0,-474.0,28.0,-24.0,-24.0,-26.0,-14.0,...,49.0,50.0,32.0,23.0,46.0,46.0,27.0,-5.0,51.0,A
18368,-26.0,-13.0,63.0,20.0,-3.0,-21.0,-19.0,-82.0,-163.0,-239.0,...,15.0,37.0,30.0,137.0,-928.0,95.0,50.0,34.0,36.0,A
18369,5.0,-70.0,-95.0,-185.0,-122.0,62.0,79.0,87.0,97.0,43.0,...,-36.0,30.0,63.0,76.0,66.0,60.0,19.0,-26.0,-40.0,A

In [ ]:
#checking for null vals
df.isnull().sum()

TS_0      0
TS_1      0
TS_2      0
TS_3      0
TS_4      0
         ..
TS_266    0
TS_267    0
TS_268    0
TS_269    0
CLASS     0
Length: 271, dtype: int64

In [ ]:
#shape of dataframe
df.shape

(18370, 271)

In [ ]:
#statistics
df.describe()

,TS_0,TS_1,TS_2,TS_3,TS_4,TS_5,TS_6,TS_7,TS_8,TS_9,...,TS_260,TS_261,TS_262,TS_263,TS_264,TS_265,TS_266,TS_267,TS_268,TS_269
count,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,...,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000,18370.000000
mean,6.460425,5.024823,4.541698,6.391889,6.158356,5.750136,4.165106,3.910996,3.444529,3.132281,...,7.016222,8.752041,8.110343,10.027055,7.581383,7.465705,9.962929,9.961132,8.139575,8.737180
std,272.334830,420.495452,402.284830,386.746853,378.025853,364.795591,347.348664,343.027604,337.468859,324.780727,...,198.537713,192.926446,197.262111,199.259975,196.717561,199.346913,199.376930,197.770150,197.604523,201.765898
min,-3614.000000,-6466.000000,-5019.000000,-4764.000000,-5952.000000,-6422.000000,-5255.000000,-6984.000000,-4687.000000,-5096.000000,...,-3479.000000,-2398.000000,-2790.000000,-3484.000000,-3402.000000,-3597.000000,-3756.000000,-3384.000000,-3154.000000,-4153.000000
25%,-71.000000,-79.000000,-79.000000,-79.000000,-79.000000,-77.000000,-77.000000,-75.000000,-75.000000,-75.000000,...,-60.000000,-59.000000,-59.000000,-59.000000,-60.000000,-60.000000,-59.000000,-59.000000,-59.000000,-58.000000
50%,-8.000000,-9.000000,-9.000000,-9.000000,-11.000000,-10.000000,-10.000000,-10.000000,-9.000000,-8.000000,...,-9.000000,-10.000000,-10.000000,-9.000000,-10.000000,-10.000000,-10.000000,-10.000000,-9.000000,-10.000000
75%,72.000000,82.000000,82.000000,80.000000,80.000000,79.000000,77.000000,73.000000,73.000000,70.750000,...,53.000000,52.000000,52.000000,53.000000,53.000000,52.000000,55.000000,55.000000,53.000000,53.000000
max,3344.000000,5514.000000,6134.000000,6305.000000,6479.000000,5658.000000,5728.000000,5847.000000,6070.000000,5308.000000,...,3109.000000,4482.000000,5790.000000,5405.000000,4082.000000,4027.000000,4170.000000,3503.000000,3908.000000,3190.000000

In [ ]:
#count of labels
df["CLASS"].value_counts()

N    16030
A     2340
Name: CLASS, dtype: int64

In [ ]:
#mean of feature values grouped by class labels
df.groupby("CLASS").mean()

,TS_0,TS_1,TS_2,TS_3,TS_4,TS_5,TS_6,TS_7,TS_8,TS_9,...,TS_260,TS_261,TS_262,TS_263,TS_264,TS_265,TS_266,TS_267,TS_268,TS_269
CLASS,,,,,,,,,,,,,,,,,,,,,
A,15.959829,12.510256,9.791453,4.771368,-0.866239,1.807692,-1.108974,12.543590,6.456838,0.818803,...,9.832051,7.269658,9.737607,5.634615,9.926923,5.705983,9.112821,3.440171,5.849573,11.559829
N,5.073737,3.932127,3.775359,6.628447,7.183780,6.325639,4.934997,2.650842,3.004803,3.469994,...,6.605178,8.968434,7.872801,10.668247,7.238989,7.722583,10.087024,10.913038,8.473862,8.325140

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
#X, Y split for features and labels
X = df.drop(columns="CLASS", axis = 1)
Y = df["CLASS"]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#train, test, split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state = 2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(18370, 270) (14696, 270) (3674, 270)

In [ ]:
#training for logistic regression
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

In [ ]:
#testing using accuracy_score
X_train_prediction = model.predict(X_train)
print("Accuracy on training data = ", accuracy_score(Y_train, X_train_prediction)) 
X_test_prediction = model.predict(X_test)
print("Accuracy on testing data = ", accuracy_score(Y_test, X_test_prediction))

Accuracy on training data =  0.8761567773543821
Accuracy on testing data =  0.8609145345672292

In [ ]:
#observation: low variance is observed for logistic regression

In [ ]:
#training for a decision tree
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(max_depth=None)

model.fit(X_train, Y_train)

DecisionTreeClassifier()

In [ ]:
#testing using accuracy_score
X_train_prediction = model.predict(X_train)
print("Accuracy on training data = ", accuracy_score(Y_train, X_train_prediction)) 
X_test_prediction = model.predict(X_test)
print("Accuracy on testing data = ", accuracy_score(Y_test, X_test_prediction))

Accuracy on training data =  1.0
Accuracy on testing data =  0.7504082743603702

In [ ]:
#observation: significant overfittting occurs on the above decision tree

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

#using adaboost for training
base_clf = DecisionTreeClassifier(max_depth=1)

model = AdaBoostClassifier(base_estimator=base_clf, n_estimators=50)

model.fit(X_train, Y_train)

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=1))

In [ ]:
#testing using accuracy_score
X_train_prediction = model.predict(X_train)
print("Accuracy on training data = ", accuracy_score(Y_train, X_train_prediction)) 
X_test_prediction = model.predict(X_test)
print("Accuracy on testing data = ", accuracy_score(Y_test, X_test_prediction))

Accuracy on training data =  0.8752721829069134
Accuracy on testing data =  0.8609145345672292

In [ ]:
#training random forest
from sklearn.ensemble import RandomForestClassifier

# Create the classifier
model = RandomForestClassifier(n_estimators=100)

# Fit the classifier to the training data
model.fit(X_train, Y_train)

RandomForestClassifier()

In [ ]:
#testing using accuracy_score
X_train_prediction = model.predict(X_train)
print("Accuracy on training data = ", accuracy_score(Y_train, X_train_prediction)) 
X_test_prediction = model.predict(X_test)
print("Accuracy on testing data = ", accuracy_score(Y_test, X_test_prediction))

Accuracy on training data =  0.9999319542732716
Accuracy on testing data =  0.8600979858464889

In [ ]:
#ensemble learning techniques are observed to reduce the bias as well as the variance